/**
 * Abstracts :: Variables
 */

/**
 * Paths
 */

$fa-font-path: "~font-awesome/fonts";

/**
 * Color
 */

$color-white: #fff;
$color-grey: #333;
$color-suva-grey: #929292;
$color-text-grey: #767676;
$color-grey-light: #ccc;
$color-error: #d00;
$color-link: #0e106a;
$color-dusty-gray: #999;
$color-boulder: #777;
$color-alto: #ddd;
$color-black: #000;
$color-background-gray: #dedede;
$color-gallery: #eee;
$color-wild-blue-yonder: #8788b5;
$color-peppermint: #dff0d8;
$color-gray-light: #f7f7f7;
$color-mercury: #e7e7e7;
$color-spring-rain: #aca;
$color-primary: #0e357f;
$color-dark-white: #f6f6f6;
$color-orange: #ff6000;
$color-silver: #bfbfbf;
$color-gray: #e3e3e3;
$color-red: #db3333;
$silver-chalice: #aaa;
$color-french-gray: #bbbbbd;
$color-concrete: #f3f3f3;
$color-denim: #1b5ede;
$color-silver-chalice: #a4a4a4;

$color-hint: $color-silver-chalice;
$color-border: #c7c7c7;
$color-info: $color-silver-chalice;
$color-sub-title: $color-text-grey;
$color-mark: $color-silver-chalice;
$color-bg-footer: #3a3a3a;
$color-text-danger: $color-red;

/**
 * Typography
 */

$font-weight-normal: 400;
$font-weight-bold: 700;

$font-size-smallest: 1.2rem;
$font-size-small: 1.4rem;
$font-size-base: 1.6rem;
$font-size-large: 1.8rem;
$font-size-extra: 2rem;
$font-size-extra-large: 2.2rem;
$font-size-big: 2.4rem;
$font-size-larger: 3rem;
$font-size-largest: 3.2rem;
$font-size-biggest: 3.4rem;

$font-size-title: $font-size-big;
$font-size-sub-title: $font-size-extra;
$font-size-label: $font-size-small;
$font-size-button: $font-size-base;
$font-size-body: $font-size-base;
$font-size-hint: $font-size-small;
$font-size-button: 1.5rem;

/**
* Media queries breakpoints
*/

$screen-xs: 480px !default;
$screen-sm: 768px !default;
$screen-md: 992px !default;
$screen-lg: 1200px !default;

/**
* Z-index master list
* Warning: Avoid customizing these values. They're used for a bird's eye view
*/

$zindex-fixed: 1030 !default;
$zindex-header: $zindex-fixed;
$zindex-menu-bar: $zindex-fixed;
